body
{
}
#scoil {
        border-bottom: 3px solid #6F7C71;
        height: 300px;
}
#leinster {
        border-bottom: 3px solid #6F7C71;
        height: 1100px;
}
#AGM {
        border-bottom: 3px solid #6F7C71;
        height: 200px;
}
#cavan {
        border-bottom: 3px solid #6F7C71;
        height: 200px;
}

#clearR {
       clear: right;
}
.news_xhead {
    font-weight: bold;
    font-size: 1.2em;
    color: red;
    font-style: italic;
}
    